openapi: 3.0.0

info:
  title: API Online Store
  description: <font size=+2> Sebuah server Aplikasi yang di bangun menggunakan bahasa pemograman Golang. dengan standar response yang baik dan dokumentasi yang mudah dipahami.
  version: 1.0.0

servers:
  - url: http://ec2-3-94-76-231.compute-1.amazonaws.com:8080/api/v1/

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PASETO
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: "Gafar riskiyanto"
        email:
          type: string
          format: email
          example: "gafar@store.com"
        address:
          type: string
          example: "Jln. Pahlawan No. 1, Sekaran, Sekaran, Lamongan"
        token:
          type: string
          example: "v2.local.Shkfbsfsbfjsfsfbsjhfbsfhsbfjhb"
        created_at:
          type: string
          format: date-time
    Product:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        category_id:
          type: integer
          format: int32
          example: 2
        name:
          type: string
          example: "Jam Tangan Pria - Alexander Christy"
        image_url:
          type: string
          example: "https://images_url.jpg"
        description:
          type: string
          example: "Jam tangan keren, Bahan titanium berlapis emas 99k"
        price:
          type: integer
          example: 100000
        qty:
          type: integer
          example: 20
        created_at:
          type: string
          format: date-time
    Cart:
      type: object
      properties:
        id:
          type: integer
          example: 1
        customer_id:
          type: integer
          example: 1
        product_id:
          type: integer
          example: 12
        qty:
          type: integer
          example: 30
        created_at:
          type: string
          format: date-time
    Order:
      type: object
      properties:
        id:
          type: integer
          example: 1
        bank_name:
          type: string
          example: "Virtual Account BCA"
        rekening_number:
          type: integer
          example: 6537538
        amount:
          type: integer
          example: 2000000
        description:
          type: string
          example: "<b><b/>"
        status:
          type: string
          example: "WAITING_PAYMENT"
        issued_at:
          type: string
          format: date-time
        expired_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    Transaction:
      type: object
      properties:
        id:
          type: integer
          example: 23
        status:
          type: string
          example: "ON_PROGRESS"
        amount:
          type: integer
          example: 200000
        issued_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        products:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
                example: 1
              category_id:
                type: integer
                format: int64
                example: 28
              name:
                type: string
                example: "Jam Tangan Pria - Alexander Christy"
              image_url:
                type: string
                example: "https://images_url.jpg"
              description:
                type: string
                example: "Jam tangan keren, Bahan titanium berlapis emas 99k"
              price:
                type: integer
                example: 200000
              qty:
                type: integer
                example: 20
              product_id:
                type: integer
                format: int64
                example: 1
              order_id:
                type: integer
                format: int64
                example: 1
              created_at:
                type: string
                format: date-time
    VirtualAccount:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: "BCA Virtual Account - Online Store"
        rekening_number:
          type: integer
          example: 6537538
        description:
          type: string
          example: "<b><b/>"
        created_at:
          type: string
          format: date-time

paths:
  /auth/register:
    post:
      description: <font size=+1><p>Registrasi menggunakan email dan password, email yang sudah terdaftar tidak dapat digunakan untuk registrasi. user wajib mengisi data diri yang terdiri dari nama, alamat tempat tinggal, email dan password. data dikirim dalam bentuk <b>JSON</b> melalui request body
        <pre><code>Nama      -> name(string)<br/>
        Alamat    -> address(string)<br/>
        Email     -> email(string)<br/>
        Password  -> password(string)
        </code>
        </pre>
        jika registrasi berhasil akan mendapat <b>token credential</b> yang dapat digunakan untuk authentifikasi<br/>
        simpanlah di database lokal untuk dapat di gunakan berulang</p>
      tags:
        - "auth"
      operationId: Register
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Gafar
                address:
                  type: string
                  example: "Jln. Pahlawan NO.1, Lamongan"
                email:
                  type: string
                  format: email
                  example: "gafar@store.com"
                password:
                  type: string
                  format: password
                  example: "12345678"
              required:
                - email
                - password
      responses:
        "201":
          description: <font size=+1>Saat registrasi berhasil akan mengembalikan data berbentuk JSON object memiliki beberapa properties. response JSON memiliki standar tetap yang terdiri dari <code>code</code>, <code>message</code>, <code>data</code><br/><br/>
            <div>
            <p>
            <b>1. code => integer</b><br/>
            mengembalikan http code standar, jika registrasi sukses Kode yang di kembalikan adalah <code>201</code>, jika error maka kode yang dikembalikan adalah <code>500</code>
            </p>
            </div>
            <br/>
            <div>
            <p>
            <b>2. message => string</b><br/>
            Mengembalikan pesan dari server, jika Permintaan berhasil di prosess maka akan menampilkan pesan sukses, dan menampilkan pesan error ketika permintaan gagal di proses
            </p>
            </div>
            <br/>
            <div>
            <p>
            <b>3. data => UserObject</b><br/>
            Mengembalikan data user yang terdiri dari <code>id</code>,<code>name</code>,<code>email</code>,<code>address</code>,<code>token</code>,<code>created_at</code>,
            </p>
            </div>
            <br/>
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 201
                  message:
                    type: string
                    example: "Register Success"
                  data:
                    $ref: "#/components/schemas/Customer"
        "500":
          description: <font size=+1>Response gagal terdiri dari <code>code</code> dan <code>message</code><br/>
            <b>code</b> mengikuti standar http code, <b>message</b> sesuai error yang terjadi.<br>
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Register Failed"


  /auth/login:
    post:
      description: <font size=+1><p>Login menggunakan <b>email</b> dan <b>password</b> yang sudah terdaftar. data dikirim melalui method POST dengan request body JSON
  
        <pre><code>
        Email     -> email(string)<br/>
        Password  -> password(string)
        </code>
        </pre>
        jika login berhasil akan mendapat <b>token credential</b> yang dapat digunakan untuk authentifikasi<br/>
        simpanlah di database lokal untuk dapat di gunakan berulang</p>
      tags:
        - "auth"
      operationId: Login
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: "gafar@store.com"
                password:
                  type: string
                  format: password
                  example: "12345678"
              required:
                - email
                - password
      responses:
        "200":
          description: <font size=+1>Saat registrasi berhasil akan mengembalikan data berbentuk JSON object memiliki beberapa properties. response JSON memiliki standar tetap yang terdiri dari <code>code</code>, <code>message</code>, <code>data</code><br/><br/>
            <div>
            <p>
            <b>1. code => integer</b><br/>
            mengembalikan http code standar, jika registrasi sukses Kode yang di kembalikan adalah <code>201</code>, jika error maka kode yang dikembalikan adalah <code>500</code>
            </p>
            </div>
            <br/>
            <div>
            <p>
            <b>2. message => string</b><br/>
            Mengembalikan pesan dari server, jika Permintaan berhasil di prosess maka akan menampilkan pesan sukses, dan menampilkan pesan error ketika permintaan gagal di proses
            </p>
            </div>
            <br/>
            <div>
            <p>
            <b>3. data => UserObject</b><br/>
            Mengembalikan data user yang terdiri dari <code>id</code>,<code>name</code>,<code>email</code>,<code>address</code>,<code>token</code>,<code>created_at</code>,
            </p>
            </div>
            <br/>
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
                  message:
                    type: string
                    example: "Login Success"
                  data:
                    $ref: "#/components/schemas/Customer"
        "500":
          description: <font size=+1>Response gagal terdiri dari <code>code</code> dan <code>message</code><br/>
            <b>code</b> mengikuti standar http code, <b>message</b> sesuai error yang terjadi.<br>
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Login Failed"


  /product:
    get:
      tags:
        - "product"
      operationId: ListProduct
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          description: "The page number you want to retrieve, starting from page 1"
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: size
          description: "Number of items per page"
          required: true
          schema:
            type: integer
            example: 1 
        - in: query
          name: category_id
          description: "View product list by product category"
          schema:
            type: integer

      responses:
        "200":
          description: Fetch Product Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 201
                  message:
                    type: string
                    example: "Fetch Product Success"
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      size:
                        type: integer
                        example: 10
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Product"
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Fetch Product Failed"   


  /product/{id}:
    get:
      tags:
        - "product"
      operationId: GetProductDetail
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: "Product ID"
          required: true
          schema:
            type: integer
            example: 1

      responses:
        "200":
          description: Fetch Product Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 201
                  message:
                    type: string
                    example: "Fetch Product Success"
                  data:
                    $ref: "#/components/schemas/Product"
                          
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Fetch Product Failed"   


  /cart:
    post:
      tags:
        - "cart"
      operationId: AddToCart
      security:
        - BearerAuth: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  example: 10
      responses:
        "201":
          description: Add Product to Shopping Cart Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 201
                  message:
                    type: string
                    example: "The product has been added to the cart"
                  data:
                    $ref: "#/components/schemas/Cart"
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Add Cart Failed"
    get:
      tags:
        - "cart"
      operationId: GetCart
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          description: "The page number you want to retrieve, starting from page 1"
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: size
          description: "Number of items per page"
          required: true
          schema:
            type: integer
            example: 10 
      responses:
        "200":
          description: Get Shopping Cart
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
                  message:
                    type: string
                    example: "Get Shopping Cart Success"
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      size:
                        type: integer
                        example: 10
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Product"
                    
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Get Shopping Cart Failed"
    delete:
      tags:
        - "cart"
      operationId: DeleteProductFromCart
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: product_id
          required: true
          schema:
            type: integer
            example: 1

      responses:
        "204":
          description: Delete Cart Succes
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 204
                  message:
                    type: string
                    example: "Delete Cart Succesfully"
        "500":
          description: Delete Cart Succes Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Delete Cart Failed"


  /cart/bulk:
    delete:
      tags:
        - "cart"
      operationId: BulkDeleteCart
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: product_ids
          required: true
          schema:
            type: array
            items:
              type: integer
              example: 1
      responses:
        "204":
          description: Delete All Cart Succes
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 204
                  message:
                    type: string
                    example: "Delete All Cart Succesfully"
        "500":
          description: Delete All Cart Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Delete All Cart Failed"


  /order:
    post:
      tags:
        - "order"
      operationId: AddOrder
      security:
        - BearerAuth: []
      requestBody:
        content:
          "application/json":
            schema:
              type: object
              properties:
                virtual_account_id:
                  type: integer
                  example: 1
                amount:
                  type: integer
                  example: 200000
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        type: integer
                        example: 3
                      product_price:
                        type: integer
                        example: 50000
                      qty:
                        type: integer
                        example: 25
                      
              required:
                - customer_id
                - virtual_account_id
      responses:
        "201":
          description: Checkout Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 201
                  message:
                    type: string
                    example: "Checkout Success"
                  data:
                    $ref: "#/components/schemas/Order"

                     
        "500":
          description: Checkout Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Checkout Failed" 


  /order/proof:
      post:
        tags:
          - "order"
        operationId: AddProofPayment
        security:
          - BearerAuth: []
        requestBody:
          content:
            "multipart/form-data":
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: "Gafar"
                  rekening_number:
                    type: integer
                    example: 6537538
                  image:
                    type: string
                    format: binary
                required:
                  - order_id
                  - name
                  - rekening_number
                  - image

        responses:
          "200":
            description: Submit Success
            content:
              "application/json":
                schema:
                  type: object
                  properties:
                    code:
                      type: integer
                      format: int32
                      example: 200
                    message:
                      type: string
                      example: "Submit Success"
                    data:
                      $ref: "#/components/schemas/Order"

                      
          "500":
            description: Checkout Failed
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: integer
                      format: int32
                      example: 500
                    message:
                      type: string
                      example: "Checkout Failed" 
      put:
        tags:
          - "order"
        operationId: UpdateOrderProof
        security:
          - BearerAuth: []
        parameters:
          - in: query
            name: order_id
            required: true
            schema:
              type: integer
              example: 1

        responses:
          "200":
            description: Submit Success
            content:
              "application/json":
                schema:
                  type: object
                  properties:
                    code:
                      type: integer
                      format: int32
                      example: 200
                    message:
                      type: string
                      example: "Submit Success"
                      
          "500":
            description: Checkout Failed
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    code:
                      type: integer
                      format: int32
                      example: 500
                    message:
                      type: string
                      example: "Checkout Failed" 


  /transaction:
    get:
      tags:
        - "transaction"
      operationId: ListTransaction
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          description: "The page number you want to retrieve, starting from page 1"
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: size
          description: "Number of items per page"
          required: true
          schema:
            type: integer
            example: 1 

      responses:
        "200":
          description: Fetch Order Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
                  message:
                    type: string
                    example: "Fetch Order Success"
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      size:
                        type: integer
                        example: 10
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Transaction"
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Fetch Product Failed"


  /virtual-account:
    get:
      tags:
        - "virtual-account"
      operationId: ListVirtualAccount
      security:
        - BearerAuth: []

      responses:
        "200":
          description: Fetch VirtualAccount Success
          content:
            "application/json":
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 200
                  message:
                    type: string
                    example: "Fetch VirtualAccount Success"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VirtualAccount"
        "500":
          description: Login Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: "Fetch Product Failed"